
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    font-weight: 700;
    letter-spacing: 10px;
}

.logo {
    color: white;
    text-transform: uppercase;
}

.header__switch {
    background: transparent;
    color: white;
    cursor: pointer
}

.switch__icon {
    width: 26px;
    height: 26px;
    background: transparent;
}

